body{
	margin:0;
	background: dodgerblue;
}
ul.nav-bar{
	overflow:auto;
	margin:0px;
	padding:5px 10px;
}
ul.nav-bar, li{
	list-style: none;
}
ul.nav-bar li{
	float:left;
}
ul.nav-bar a{
	padding:5px 10px;
	color:#eee;
	font-weight: bold;
	background:#111;
}
ul.nav-bar a:hover{
	background:deeppink;
}
ul.nav-bar #selected{
	background: #555;
}