
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

	<title>Reading Report No.</title>
	<style>
	body{
		font-family: "Courier New", Courier, monospace;
		color:#444444;
		background:#eeeeee;
	}
	h2{
		color:#222222;
		padding:0;
		margin:0;
	}
	h3{
		color:#444444;
		font-weight:normal;
		padding:0;
		margin:0;
		margin-bottom:40px;
	}
	#wrapper{
		width:680px;
		margin:40px auto;
		padding:20px 40px 60px 40px;
		background:#fff;
	}

	#header{
		padding:20px 20px 0px 20px;
	}
	
	#write-up{
		margin:20px;
	}

	</style>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<h3>Reading Assignment No.</h3>
			<h2>Reading Title</h2>
			<h3>by Student Name</h3>
		</div>

		<div id="write-up">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam molestie erat, sed eleifend lectus rutrum at. Quisque eu semper felis, non sodales erat. Vestibulum tempus luctus mauris vitae tristique. Integer tristique urna ut lacus adipiscing, ac cursus risus ullamcorper. Praesent vehicula odio ut volutpat laoreet. Aliquam dignissim molestie eros, sed ultrices nisi elementum ullamcorper. Curabitur facilisis at felis ac sodales. Cras accumsan malesuada tortor ut imperdiet. Fusce eu venenatis ipsum. Sed convallis, eros in suscipit tristique, eros odio pharetra purus, eu bibendum arcu dui vitae eros. Suspendisse ac fringilla ipsum, ac tristique lectus. Aliquam dapibus mollis dictum. Curabitur iaculis purus vel dolor posuere ullamcorper. In placerat est metus, sed convallis lacus fringilla ut.
			</p>
			<p>
				Aenean gravida nulla lorem, vitae dignissim enim imperdiet eu. Quisque rhoncus elit eu justo rutrum, accumsan laoreet tortor eleifend. Donec ut enim quis purus sagittis gravida in rhoncus lectus. Nam commodo malesuada metus. Phasellus commodo orci id nunc porttitor, ut consectetur leo ullamcorper. Donec adipiscing pharetra hendrerit. Pellentesque leo tortor, malesuada at mi quis, vestibulum vestibulum lorem. Aenean sodales adipiscing ligula ac faucibus. Nulla risus nulla, ullamcorper quis blandit at, euismod viverra augue. Nulla nec tristique leo.
			</p>
		</div>
	</div>
</body>
</html>